html {
    font-family: Didot, serif;
    background-color: papayawhip;
}



#page {
    background-color: lightyellow;
    border-color: pink;
    border-style: solid;
    border-width: 3px;
}


h1{
    color: lightpink;
    font-size: 3.5em;
    text-align: center;


}

h2 {
    color: mediumpurple;
    text-align: left;
}

h3 {
    color: lightskyblue;
    text-align: center;
}

h4 {
    color: lightskyblue;
    text-align: left;
    text-underline: pink;
}

p {
    color: mediumpurple;
    text-align: left;
}

ul{
    color: mediumpurple;
    text-align: left;
}

#photo1 {
    display: block;
    margin-left: auto;;
    margin-right: auto;
    width: 25%;
}

#photo2 {
    display: block;
    margin-left: auto;;
    margin-right: auto;
    width: 25%;
}

#nav:hover:not(active) {
    /*border: 3px blue solid;*/
    text-align:center;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}