html {
    font-family: Didot, serif;
    background-color: papayawhip;
}



#page {
    background-color: lightyellow;
    border-color: pink;
    border-style: solid;
    border-width: 3px;
}


h1{
    color: lightpink;
    font-size: 3.5em;
    text-align: center;


}

p {
    color: mediumpurple;
    text-align: center;
}

ul{
    color: mediumpurple;
    text-align: left;
}
