html {
    font-family: Georgia;
}

#home{
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightyellow;
    border-color: lightskyblue;
    border-style: solid;
}

#second{
    background-color: black;
}

#third{
    background-color: violet;
}
h1{
    color: lightskyblue;
    font-size: 3.5em;
    text-align: center;
    background-color: darkgrey;

}

h2 {
    color: mediumpurple;
    text-align: center;
}
